drawio_templates/*
Task1/task_1_draft.md
InsureTech_C4_сontainer-diagram.puml
InsureTech_technology_architecture_to_be.png
insuretech_to_be_architecture.png
InsureTech_технологическая_архитектура-as-is.drawio
tech_arch_draft.excalidraw
task2_answer.md
task_2_answer_draft.md
locustfile.cpython-314.pyc
